.App {
  text-align: center;
  height: 200px;
  background-color:linear-gradient(white, black);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
  background: rgba(0, 0, 0, 0.418);
  color: white;
}
